In [2]:
#import dependencies
from matplotlib import pyplot as plt
from scipy import stats

import numpy as np
import pandas as pd

In [14]:
#read csv
ride_data = pd.read_csv("raw_data/ride_data.csv")
city_data = pd.read_csv("raw_data/city_data.csv")

pyber_df = city_data.merge(ride_data, on='city', how='outer')

#reorder columns


pyber_df.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829